.main-section {
    .main-content-wrapper {
        ul.row-ul {
            li {
                width: calc(86%/3);
                display: inline-block;
                float: left;
                &:nth-child(2) {
                    margin-left: 7%;
                    margin-right: 7%;
                }
                .input-file-wrapper {
                    label {
                        .upload-img-label {
                            background: #d2d2d2;
                            color: #333;
                            display: block;
                            padding: 12px;
                            font-size: 14px;
                            border-radius: 4px;
                            cursor: pointer;
                            font-family: $font-regular;
                        }
                    }
                    .image-choosed {
                        font-size: 14px;
                        font-family: $font-regular;
                        background: rgba(19, 167, 44, 0.56);
                        color: #333;
                        padding: 12px;
                        border-radius: 4px;
                        position: relative;
                        i {
                            position: absolute;
                            right: 0px;
                            padding: 15px;
                            top: 0;
                            color: #dc5252;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .submit-btn-wrapper {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 50px;
            position: relative;
            button {
                padding: 9px 15px;
                font-size: 16px;
                font-family: montserrat-semibold;
                color: #fff;
                background: #1565c0;
                border: 0;
                border-radius: 4px;
                width: 180px;
                &.in-active {
                    background: rgba(#1565c0, 0.4);
                    pointer-events: none;
                }
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 44px;
            }
        }
        .left-wrapper {
            display: inline-block;
            width: 45%;
            float: left;
        }
        .right-wrapper {
            display: inline-block;
            width: 45%;
            float: left;
            margin-left: 10%;
        }
        .input-wrapper {
            margin-bottom: 20px;
            &.has-error {
                .input-label {
                    color: $error-color;
                }
                input,
                select,
                textarea {
                    border: 1px solid $error-color;
                    &:focus {
                        border: 1px solid $error-color;
                        box-shadow: 0px 0px 2px $error-color;
                    }
                }
            }
            .input-label {
                font-size: 14px;
                font-family: $font-light;
                color: #333;
                margin-bottom: 5px;
            }
            input,
            select,
            textarea {
                width: 100%;
                height: 40px;
                border: 1px solid #ccc;
                padding: 0 10px;
                border-radius: 4px;
                font-family: $font-regular;
                font-size: 14px;
                color: #333;
                background: #fff;
                @include transition(0.1s all);
                &:focus {
                    border: 1px solid $primary;
                    box-shadow: 0px 0px 2px $primary;
                }
            }
            textarea {
                height: 150px;
                resize: none;
                padding-top: 7px;
                padding-bottom: 7px;
            }
            input[type="file"] {
                display: none;
            }
            ol {
                li {
                    border: 1px solid #1565c0;
                    text-align: center;
                    padding: 0px;
                    line-height: 40px;
                    border-radius: 4px;
                    width: 24%;
                    margin-right: 2%;
                    font-size: 15px;
                    cursor: pointer;
                    &.active {
                        background: $primary;
                        color: #fff;
                    }
                }
            }
        }
    }
}
