footer {
    background: #1e1819;
    padding: 50px;
    .footer-container {
        .left-wrap,
        .right-wrap {
            width: 50%;
            float: left;
            display: inline-block;
        }
        .left-wrap {
            .logo-wrap {
                margin-bottom: 20px;
                a {
                    display: inline-block;
                    padding-left: 48px;
                    position: relative;
                    color: #333;
                    img {
                        position: absolute;
                        left: -30px;
                        top: -16px;
                        width: 108px;
                    }
                    .logo-text {
                        font-size: 18px;
                        font-family: $font-medium;
                        color: #fff;
                    }
                }
            }
            h5 {
                font-size: 14px;
                font-family: $font-medium;
                color: #ccc;
                padding-top: 10px;
            }
            p {
                font-size: 12px;
                font-family: $font-regular;
                color: #a7a7a7;
                margin-top: 2px;
            }
            .social-icons {
                margin-top: 20px;
                ul {
                    li {
                        width: 40px;
                        float: left;
                        display: inline-block;
                        a {
                            display: inline-block;
                            img {
                                width: 16px;
                            }
                        }
                    }
                }
            }
            .links {
                margin-top: 20px;
                ul {
                    li {
                        float: left;
                        display: inline-block;
                        a {
                            display: inline-block;
                            font-size: 13px;
                            font-family: $font-regular;
                            color: #ccc;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
        .right-wrap {
            .form-section {
                padding-left: 30px;
                h4 {
                    font-size: 15px;
                    font-family: $font-semibold;
                    color: #fff;
                    margin-bottom: 20px;
                }
                ul {
                    li {
                        width: 48%;
                        float: left;
                        &:nth-child(1) {
                            margin-right: 2%;
                        }
                        &:nth-child(2) {
                            margin-left: 2%;
                        }
                    }
                }
                .input-wrapper {
                    margin-bottom: 20px;
                    input,
                    textarea {
                        width: 100%;
                        background: #1e1819;
                        border: 1px solid #463b3d;
                        height: 40px;
                        padding-left: 10px;
                        font-size: 14px;
                        color: #ddd;
                        font-family: roboto-regular;
                        &.error {
                            border: 1px solid $error-color;
                        }
                    }
                }
                textarea {
                    height: 75px !important;
                    resize: none;
                }
                .button-wrapper {
                    text-align: right;
                    .success-msg {
                        color: $green-color;
                        font-size: 16px;
                        font-family: $font-medium;
                        margin-bottom: 10px;
                    }
                    button {
                        width: 160px;
                        background: $primary;
                        color: #fff;
                        font-family: roboto-medium;
                        font-size: 14px;
                        border: 0;
                        border-radius: 4px;
                        height: 40px;
                    }
                }
            }
        }
    }
}