.angucomplete-holder {
    .angucomplete-dropdown {
        width: 100%;
        padding: 0;
        max-height: 200px;
        overflow: auto;
        z-index: 10;
    }
    .angucomplete-searching {
        font-family: $font-regular;
        text-align: left;
        padding: 7px;
    }
    .angucomplete-row {
        font-family: $font-regular;
        font-size: 14px;
        color: $font-color;
        padding: 7px;
        .highlight {
            font-weight: 700;
        }
    }
    .angucomplete-selected-row {
        background: rgba($blue-color, 0.4);
    }
}
