body {
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.7);
    }
    font-family:$font-regular;
}


/* Links
 */


/**
   * Remove the gray background color from active links in IE 10.
   */

a {
    background-color: transparent;
}

a,
a:focus a:hover,
a:active,
a:visited,
a:link {
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea,
button,
select,
label,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}


/* Forms
     ========================================================================== */


/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */


/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    outline: none;
    /* 3 */
}


/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-weight: 100;
}

iframe {
    display: none;
}

.test {
    border: 1px solid red;
}

.hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.hidden-overflow-y {
    overflow-y: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
    }
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.full-width {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: initial;
}

.cursor-pointer {
    cursor: pointer;
}

@include small {
    .small-no-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.capitalize {
    text-transform: capitalize;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input.disable {
    pointer-events: none;
    background: #d0d0d0;
}
.test{
    border:1px solid red;
}
