$blue: #1a6fb7;
.input-field {
    position: relative;
    margin-bottom: 15px;
    input,
    textarea {
        border: 1px solid #f0f0f0;
        height: 40px;
        line-height: 40px;
        width: 100%;
        font-size: 15px;
        font-family: $font-regular;
        color: $font-color;
        padding: 0px 10px;
        @include transition(0.4s all);
        @include box-shadow(0px, 0px, 2px, #ccc);
        &:focus {
            @include box-shadow(0px, 0px, 4px, #ccc);
            border: 1px solid $blue;
            & ~ i {
                color: $blue;
            }
        }
    }
    input[prefix],
    textarea[prefix] {
        padding-left: 40px;
    }
    input[suffix],
    textarea[suffix] {
        padding-right: 50px;
    }
    textarea {
        height: 82px;
        resize: none;
        line-height: 24px;
        padding-top: 5px;
    }
    i {
        font-size: 18px;
        line-height: 40px;
        left: 10px;
        position: absolute;
        top: 0;
        color: rgba($font-color, 0.4);
        @include transition(0.4s all);
    }
    .suffix {
        font-size: 16px;
        font-family: $font-semibold;
        color: $font-color;
        position: absolute;
        bottom: 1px;
        background: #f0f0f0;
        line-height: 38px;
        padding: 0 10px;
        right: 1px;
    }
    &.error {
        input,
        textarea {
            border: 1px solid $error-color;
            &:focus {
                @include box-shadow(0px, 0px, 4px, $error-color);
                border: 1px solid $error-color;
                & ~ i {
                    color: $error-color;
                }
            }
        }
    }
}
