section#artist-detail {
    .artist-wrapper {
        padding: 50px;
        .left-section {
            display: inline-block;
            float: left;
            width: 40%;
            .artist-image {
                text-align: center;
                img {
                    width: 330px;
                }
            }
        }
        .right-section {
            display: inline-block;
            float: left;
            width: 60%;
            .artist-name {
                font-size: 28px;
                font-family: roboto-light;
                color: #000;
                margin-top: 5px;
                margin-bottom: 15px;
                span {
                    font-size: 16px;
                    font-family: $font-regular;
                    color: $primary;
                    margin-left: 10px;
                }
            }
            .artist-description {
                font-size: 16px;
                font-family: $font-regular;
                color: #333;
            }
            .location-ul {
                margin-top: 30px;
                li {
                    float: left;
                    display: inline-block;
                    width: 20%;
                    position: relative;
                    padding-left: 25px;
                    line-height: 24px;
                    font-family: $font-regular;
                    font-size: 15px;
                    color: #333;
                    img {
                        width: 15px;
                        left: 0;
                        position: absolute;
                    }
                }
            }
            .book-btn {
                margin-top: 40px;
                button {
                    width: 240px;
                    background: $primary;
                    color: #fff;
                    font-family: roboto-medium;
                    font-size: 14px;
                    border: 0;
                    border-radius: 4px;
                    height: 40px;
                }
            }
        }
    }
    .featured-artist-section {
        background: #F0F0F0;
        padding: 50px;
        h2 {
            font-size: 25px;
            font-family: $font-medium;
            color: #333;
            margin-bottom: 40px;
            span {
                color: $primary;
            }
        }
        .artist-list-ul {
            margin-left: -50px;
            margin-right: -50px;
            li {
                width: 25%;
                float: left;
                text-align: center;
                .artist-info {
                    display: inline-block;
                    .artist-image {
                        height: 200px;
                        overflow: hidden;
                        img {
                            width: 190px;
                            border: 1px solid #e6e6e6;
                            border-radius: 10px;
                            box-shadow: 0px 4px 2px $primary;
                        }
                    }
                    .artist-name {
                        font-size: 16px;
                        font-family: $font-regular;
                        color: #333;
                        text-align: center;
                    }
                    .artist-profile {
                        font-size: 12px;
                        font-family: $font-regular;
                        color: $primary;
                        text-align: center;
                    }
                }
            }
        }
    }
}