header {
    height: 95px;
    background: #fff;
    border-bottom: 1px solid #e2e2e2;
    padding: 0 50px;
    position: relative;
    box-shadow: 0px 2px 4px #ececec;

    .header-wrapper {
        .logo-section {
            width: 30%;
            display: inline-block;
            float: left;
            position: relative;
            a {
                display: inline-block;
                padding-left: 77px;
                position: relative;
                line-height: 95px;
                color: #333;

                img {
                    position: absolute;
                    left: -13px;
                    top: 16px;
                    width: 120px;
                }
                .logo-text {
                    font-size: 20px;
                    font-family: $font-semibold;
                }
            }
        }
        .right-section {
            width: 70%;
            display: inline-block;
            float: left;
            position: relative;
            text-align: right;
            ul {
                display: inline-block;
                li {
                    float: left;
                    text-align: center;
                    line-height: 95px;
                    &:last-child {
                        width: 70px;
                        a {
                            img {
                                top: 36px;
                                left: 10px;
                            }
                        }
                    }
                    a {
                        display: inline-block;
                        position: relative;
                        padding-left: 30px;
                        font-family: roboto-light;
                        color: #333;
                        font-size: 15px;
                        img {
                            position: absolute;
                            top: 35px;
                            left: 0;
                            width: 21px;
                        }
                    }
                }
            }
        }
    }
    &.transparent {
        height: auto;
        background: transparent;
        .header-wrapper {
            position: absolute;
            width: calc(100% - 100px);
            z-index: 2;
            .logo-section {
                a {
                    color: #fff;
                }
            }
            .right-section {
                ul {
                    li {
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}