section#register {
    .top-banner {
        padding: 0 50px;
        .left-section {
            display: inline-block;
            float: left;
            width: 60%;
            margin-bottom: 50px;
            h2 {
                font-size: 25px;
                font-family: $font-medium;
                color: #333;
                margin-top: 50px;
                margin-bottom: 20px;
                span {
                    color: $primary;
                }
            }
            p {
                font-size: 14px;
                line-height: 24px;
                font-family: $font-regular;
                color: #333;
            }
        }
        .right-section {
            display: inline-block;
            float: left;
            width: 40%;
            background: url(../../assets/images/temp-image.png);
            height: 280px;
            background-size: cover;
            background-position: -20px 0px;
        }
    }
    .form-wrapper {
        background: url(../../assets/images/register-banner.png);
        padding: 80px 0;
        .form-section {
            width: 480px;
            margin: 0px auto;
            padding: 30px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 4px #000;
            h3 {
                text-align: center;
                font-size: 23px;
                font-family: $font-medium;
                color: #333;
                margin-bottom: 15px;
            }
            .input-text {
                margin-bottom: 15px;
                input,
                textarea,
                select {
                    font-size: 14px;
                    width: 100%;
                    font-family: $font-regular;
                    border-radius: 4px;
                    height: 40px;
                    border: 1px solid #c7c7c7;
                    padding-left: 10px;
                    background: #fff;
                    &:focus {
                        border: 2px solid $primary;
                        box-shadow: 0 0 2px #ccc;
                    }
                    &.error {
                        border: 2px solid $error-color;
                        box-shadow: 0 0 2px $error-color;
                    }
                }
                textarea {
                    height: 80px;
                    resize: none;
                    padding-top: 7px;
                }
            }
            .submit-btn {
                text-align: center;
                margin-bottom: 0;
                .success-msg {
                    color: $green-color;
                    font-size: 16px;
                    font-family: $font-medium;
                    margin-bottom: 10px;
                }
                button {
                    width: 100%;
                    background: $primary;
                    color: #fff;
                    font-family: $font-medium;
                    font-size: 14px;
                    border: 0;
                    border-radius: 4px;
                    height: 40px
                }
            }
            .left-li {
                display: inline-block;
                width: 47%;
                margin-right: 3%;
                float: left;
            }
            .right-li {
                display: inline-block;
                width: 47%;
                margin-left: 3%;
                float: left;
            }
        }
    }
}