@mixin large-width() {
    @include small {
        $sp-card-width: 88%;
        width: $sp-card-width;
        margin:0 auto;
    }
    @include medium {
        $sp-card-width: 720px;
        width: $sp-card-width;
        margin:0 auto;
    }
    @include large {
        $sp-card-width: 1140px;
        width: $sp-card-width;
        margin:0 auto;
    }
}