section#about-us {
    padding: 40px 0;
    h1 {
        text-align: center;
        font-size: 30px;
        font-family: roboto-semibold;
        position: relative;
        padding-bottom: 20px;
        color: #333;
        &:before {
            background: $primary;
            width: 80px;
            height: 6px;
            bottom: 8px;
            z-index: 1;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 160px;
            bottom: 10px;
            background: #ccc;
            height: 1px;
        }
    }

    .content-wrapper {
        margin-top: 30px;
        padding: 0px 75px;
        p {
            font-size: 17px;
            font-family: roboto-regular;
            line-height: 27px;
            margin-bottom: 25px;
            color: #333;
            &.quote {
                font-size: 25px;
                font-family: roboto-regular;
                border-top: 2px solid #00b9f5;
                border-bottom: 2px solid #00b9f5;
                padding: 30px 50px;
                line-height: 40px;
                text-align: center;
                margin: 40px 0;
                color: #00b9f5;
            }
        }
    }
}