.main-section {
    article {
        max-width: 950px;
        margin: 0 auto;
        padding-bottom: 50px;
    }
}

@include keyframes (rotateLoading) {
    from {
        @include transform('rotate(-360deg)');
        // transform: translate(-50%, -100%);
    }
    to {
        @include transform('rotate(0deg)');
        // transform: translate(-50%, -100%);
    }
}

.page-header {
    background-color: #fff;
    margin-bottom: 20px;
    @include box-shadow(0, 1px, 0, 0, #ddd);
    border-bottom: 1px solid #ddd;
    .page-header-content {
        position: relative;
        background-color: inherit;
        padding: 0 20px;
        .page-title {
            padding: 20px 0;
            display: inline-block;
            position: relative;
            font-size: 16px;
            font-family: $font-regular;
            color: #333;
        }
        .right-section {
            float: right;
            a {
                display: block;
                margin-top: 19px;
                button {
                    padding: 5px 15px;
                    font-size: 14px;
                    font-family: $font-semibold;
                    color: #fff;
                    background: $primary;
                    border: 0;
                    border-radius: 4px;
                }
            }
        }
    }
    .breadcrumb-line {
        background-color: #fcfcfc;
        border-top: 1px solid #ddd;
        margin: 0;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        .breadcrumb {
            margin: 0;
            padding: 10px 0;
            li {
                position: relative;
                font-size: 13px;
                font-family: $font-light;
                i {
                    display: inline-block;
                    font-size: 12px;
                    margin-right: 5px;
                }
                a {
                    color: #333;
                }
                &:first-child {
                    &:before {
                        display: none;
                    }
                }
                &.active {
                    color: #999;
                }
                &:before {
                    content: "/\00a0";
                    padding: 0 8px;
                    color: #333;
                }
            }
        }
    }
}

.table-section {
    .total-results {
        font-family: $font-light;
        padding: 20px 0;
        min-height: 65px;
        span {
            font-family: $font-regular;
        }
    }
    .table-wrapper {
        @include box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.16));
        border: 1px solid #d4d4d4;
        .table-head {
            background: $primary;
            padding: 10px 10px;
            color: #fff;
            font-family: $font-semibold;
            font-size: 14px;
            ul {
                display: table;
                width: 100%;
                table-layout: fixed;
                li {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
        .table-body {
            position: relative;
            min-height: 300px;
            ul {
                width: 100%;
                padding: 0 10px;
                display: table;
                table-layout: fixed;
                li {
                    display: table-cell;
                    padding: 12px 0;
                    font-size: 14px;
                    font-family: $font-light;
                    vertical-align: middle;
                    .top-value {
                        font-size: 14px;
                    }
                    .bottom-value {
                        font-size: 11px;
                    }
                }
                &:nth-child(odd) {
                    background: #f5f5f5;
                }
            }
            .no-result-found {
                padding-top: 135px;
                text-align: center;
                color: #d71818;
                font-size: 18px;
            }
            .loading {
                text-align: center;
                background: rgba(0, 0, 0, 0.29);
                position: absolute;
                width: 100%;
                top: 0;
                height: 100%;
                z-index: 100;
                color: #000;
                font-size: 30px;
                line-height: 100%;
                cursor: wait;
                i {
                    @include transform('translate(-50%, -100%)');
                    @include animation('0.9s linear rotateLoading infinite');
                    position: absolute;
                    top: 43%;
                    left: 50%;
                    color: #fff;
                }
            }
        }
    }
    .table-paggination {
        margin: 0;
        margin-top: 20px;
        ul {
            float: right;
            li {
                display: inline-block;
                margin-left: 20px;
                &:nth-child(1) {
                    margin-left: 0;
                    float: left;
                }
                &:nth-child(2) {
                    float: left;
                    border: 0;
                    @include box-shadow(0, 0, 0, #000);
                    font-size: 22px;
                    padding: 0px 10px;
                    line-height: 30px;
                    color: #333;
                }
                button {
                    border: 1px solid $primary;
                    @include box-shadow(0px, 2px, 4px, rgba(0, 0, 0, 0.3));
                    font-size: 13px;
                    padding: 5px 10px;
                    color: $primary;
                    font-family: $font-semibold;
                    background: #fff;
                    @include transition(0.4s all);
                    cursor: pointer;
                    &:hover {
                        background: $primary;
                        color: #fff;
                    }
                    &[disabled] {
                        border: 1px solid #ccc;
                        color: #ccc;
                        pointer-event: none;
                        &:hover {
                            background: #ccc;
                            color: #777;
                        }
                    }
                }
            }
        }
    }
}
