.mass-upload {
    article {
        width: 40%;
        margin: 0 auto;
        .choose-excel {
            margin-top: 140px;
            label {
                span {
                    display: block;
                    border: 1px solid #1565c0;
                    font-size: 16px;
                    text-align: center;
                    padding: 18px;
                    color: #2874f0;
                    border-radius: 4px;
                }
            }
        }
        .submit-btn {
            margin-top: 25px;
            text-align: center;
            position: relative;
            button {
                padding: 9px 15px;
                font-size: 16px;
                font-family: montserrat-semibold;
                color: #fff;
                background: #1565c0;
                border: 0;
                border-radius: 4px;
                width: 180px;
                &.in-active {
                    background: rgba(#1565c0, 0.4);
                    pointer-events: none;
                }
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 44px;
            }
        }
        .success {
            text-align: center;
            font-size: 14px;
            margin-top: 20px;
            color: green;
        }
    }
}
