

.column,
.columns {
    width: 100%;
    float: left;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    position:relative;
}

.column:last-child:not(:first-child),
.columns:last-child:not(:first-child) {
    float: right;
}

.column.end:last-child:last-child,
.end.columns:last-child:last-child {
    float: left;
}

.column.row.row,
.row.row.columns {
    float: none;
}

.row .column.row.row,
.row .row.row.columns {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
