@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin truncate() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin card-box-shadow(){
	@include box-shadow(0px, 1px, 4px, rgba($black, 0.31));
}

@mixin view-port() {
    @include small {
        $sp-card-width: 88%;
        width: $sp-card-width;
    }
    @include medium {
        $sp-card-width: 720px;
        width: $sp-card-width;
    }
    @include large {
        $sp-card-width: 1140px;
        width: $sp-card-width;
    }
    @include xlarge {}
}