@mixin generate-font-size-classes($values, $screenSize) {
    // @if($screenSize=='s') {
    //     @include small {
    //         @each $value in $values {
    //             .font-size-s-#{$value} {
    //                 font-size: #{$value}px;
    //             }
    //         }
    //     }
    // }
    // @if($screenSize=='m') {
    //     @include medium {
    //         @each $value in $values {
    //             .font-size-m-#{$value} {
    //                 font-size: #{$value}px;
    //             }
    //         }
    //     }
    // }
    @if($screenSize=='l') {
        @include large {
            @each $value in $values {
                .font-size-l-#{$value} {
                    font-size: #{$value}px;
                }
                .font-size-#{$value} {
                    font-size: #{$value}px;
                }
            }
        }
    }
}

$fonts:(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 38, 42, 72);
@include generate-font-size-classes($fonts, 's');
@include generate-font-size-classes($fonts, 'm');
@include generate-font-size-classes($fonts, 'l');
