#artist-list {
    article {
        .filter-section {
            ul {
                margin: 0;
                li {
                    width: 30%;
                    position: relative;
                    &:nth-child(2) {
                        margin-left: 5%;
                        margin-right: 5%;
                    }
                    input,
                    select {
                        height: 45px;
                        background: #fff;
                        font-size: 14px;
                        font-family: $font-regular;
                        color: #333;
                        border: 1px solid #ddd;
                        width: 100%;
                        border-radius: 4px;
                        padding: 0 15px;
                        &:focus {
                            border: 1px solid $primary;
                            @include box-shadow(0, 0px, 4px, rgba($primary, 0.5));
                        }
                    }
                    i {
                        position: absolute;
                        top: 2px;
                        font-size: 20px;
                        right: 2px;
                        line-height: 41px;
                        padding: 0 8px;
                        color: #e45a5a;
                        background: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
        .table-section {
            .table-wrapper {
                ul {
                    &.is-deleted {
                        background: rgba(215, 24, 24, 0.31);
                    }
                    li {
                        &:nth-child(1) {
                            width: 5%;
                        }
                        &:nth-child(2) {
                            width: 15%;
                        }
                        &:nth-child(3) {
                            width: 12%;
                        }
                        &:nth-child(4) {
                            width: 10%;
                        }
                        &:nth-child(5) {
                            width: 10%;
                        }
                        &:nth-child(6) {
                            width: 10%;
                        }
                        &:nth-child(7) {
                            width: 9%;
                        }
                        &:nth-child(8) {
                            width: 10%;
                            text-align: center;
                        }
                        &.date-time {
                            padding: 8px 0;
                        }
                        .date {
                            font-size: 14px;
                        }
                        .time {
                            font-size: 11px;
                        }
                        &.status {
                            div {
                                background: #399a39;
                                color: #fff;
                                font-family: $font-semibold;
                                display: inline-block;
                                padding: 2px 14px;
                                font-size: 12px;
                                width: 65px;
                                text-align: center;
                                margin: 0 auto;
                                &.live {
                                    background: #399a39;
                                }
                                &.pause {
                                    background: #fc8b53;
                                }
                            }
                        }
                        &.action {
                            white-space: nowrap;
                            overflow: hidden;
                            .edit-icon-a {
                                margin-right: 8px;
                            }
                            i {
                                margin-right: 8px;
                                font-size: 18px;
                                cursor: pointer;
                                color: $primary;
                                &:last-child {
                                    margin-right: 0;
                                }
                                &.edit-icon {
                                    margin-right: 0;
                                }
                                &.external-link {
                                    color: #399a39;
                                }
                                &.delete-icon {
                                    color: #d71818;
                                }
                                &.pause-icon {
                                    color: $primary;
                                }
                                &.play-icon {
                                    color: #399a39;
                                }
                            }
                            .action-sction {
                                margin-right: 20px;
                                display: inline-block;
                                @include transition(0.5s all);
                                transform: translateX(0);
                                &.deleteConfirm {
                                    transform: translateX(-130%);
                                }
                            }
                            .delete-confirm {
                                display: inline-block;
                                @include transition(0.5s all);
                                transform: translateX(0);
                                &.deleteConfirm {
                                    transform: translateX(-115%);
                                }
                                div {
                                    display: inline-block;
                                    font-family: $font-bold;
                                    font-size: 10px;
                                    padding: 4px 6px;
                                    cursor: pointer;
                                    @include box-shadow(0px, 2px, 4px, rgba(0, 0, 0, 0.32));
                                    &.yes {
                                        background: #d71818;
                                        color: #fff;
                                        border: 1px solid transparent;
                                        margin-right: 10px;
                                    }
                                    &.no {
                                        background: #fff;
                                        color: $primary;
                                        border: 1px solid $primary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
