#contant-request {
    article {
        .filter-section {
            ul {
                margin: 0;
                li {
                    width: 20%;
                    margin-left: 5%;
                    &:first-child {
                        margin-left: 0;
                    }
                    input,
                    select {
                        height: 45px;
                        background: #fff;
                        font-size: 14px;
                        font-family: $font-regular;
                        color: #333;
                        border: 1px solid #ddd;
                        width: 100%;
                        border-radius: 4px;
                        padding: 0 15px;
                        &:focus {
                            border: 1px solid $primary;
                            @include box-shadow(0, 0px, 4px, rgba($primary, 0.5));
                        }
                    }
                }
            }
        }
        .table-section {
            .table-wrapper {
                ul {
                    li {
                        &:nth-child(1) {
                            width: 5%;
                        }
                        &:nth-child(2) {
                            width: 12%;
                        }
                        &:nth-child(3) {
                            width: 12%;
                        }
                        &:nth-child(4) {
                            width: 25%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            padding-right: 30px;
                        }
                        &:nth-child(5) {
                            width: 10%;
                        }
                        &.date-time {
                            padding: 8px 0;
                        }
                        .date {
                            font-size: 14px;
                        }
                        .time {
                            font-size: 11px;
                        }
                        &.action {}
                    }
                }
            }
        }
    }
}
