section#listing {
    padding: 50px 60px;
    padding-bottom: 120px;
    .top-bar {
        h4 {
            width: 40%;
            display: inline-block;
            float: left;
            font-size: 25px;
            font-family: $font-light;
            color: #333;
            span {
                font-size: 12px;
                color: #7d7d7d;
                margin-left: 10px;
            }
        }
        .filter-ul {
            width: 60%;
            float: right;
            display: inline-block;
            line-height: 37px;
            text-align: right;
            li {
                margin-left: 20px;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                padding: 0px 5px;
                position: relative;
                span {
                    font-size: 14px;
                    margin-right: 5px;
                }
                select {
                    background: #fff;
                    border: 0;
                    font-size: 14px;
                    font-family: roboto-light;
                    color: #737373;
                }
                .remove-icon {
                    position: absolute;
                    top: 1px;
                    right: 0px;
                    background: white;
                    padding: 0 10px;
                    color: #bd3636;
                    i {
                        line-height: 36px;
                    }
                }
            }
        }
    }
    .no-artist-section {
        text-align: center;
        font-size: 50px;
        font-family: roboto-bold;
        color: #ddd;
        margin: 160px 0;
    }
    .artist-list-ul {
        margin-left: -50px;
        margin-right: -50px;
        li {
            width: 25%;
            float: left;
            text-align: center;
            margin-top: 50px;
            .artist-info {
                display: inline-block;
                .artist-image {
                    height: 200px;
                    overflow: hidden;
                    img {
                        width: 190px;
                        border: 1px solid #e6e6e6;
                        border-radius: 10px;
                        box-shadow: 0px 4px 2px $primary;
                    }
                }
                .artist-name {
                    font-size: 16px;
                    font-family: $font-regular;
                    color: #333;
                    text-align: center;
                }
                .artist-profile {
                    font-size: 12px;
                    font-family: $font-regular;
                    color: $primary;
                    text-align: center;
                }
            }
        }
    }
    .paggination {
        display: inline-block;
        float: right;
        margin-top: 40px;
        ul {
            li {
                height: 32px;
                width: 35px;
                display: inline-block;
                float: left;
                line-height: 32px;
                text-align: center;
                font-size: 12px;
                border-right: 1px solid #ddd;
                color: #333;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                cursor: pointer;
                i {
                    line-height: 32px;
                }
                &.disable {
                    background: #cecece;
                    color: #fff;
                    pointer-events: none;
                }
                &.active {
                    border: 1px solid $primary;
                    font-family: $font-bold;
                    color: $primary;
                }
                &:first-child {
                    a {
                        border-radius: 7px 0px 0px 7px;
                    }
                }
                &:last-child {
                    a {
                        border-radius: 0px 7px 7px 0px;
                        background: $primary;
                        color: #fff;
                    }
                }
            }
        }
    }
}