// Roboto
@include font-face('roboto-black', '../fonts/roboto/Roboto-Black-webfont');
@include font-face('roboto-bold', '../fonts/roboto/Roboto-Bold-webfont');
@include font-face('roboto-medium', '../fonts/roboto/Roboto-Medium-webfont');
@include font-face('roboto-semibold', '../fonts/roboto/Roboto-Medium-webfont');
@include font-face('roboto-regular', '../fonts/roboto/Roboto-Regular-webfont');
@include font-face('roboto-thin', '../fonts/roboto/Roboto-Thin-webfont');
@include font-face('roboto-light', '../fonts/roboto/Roboto-Light-webfont');
@include font-face('quirlycues', '../fonts/quirlycues/quirlycues');


// -----------------
// Roboto Font Family
// -----------------
$font-thin : "roboto-thin";
$font-light: "roboto-light";
$font-regular: "roboto-regular";
$font-semibold: "roboto-medium";
$font-medium: "roboto-medium";
$font-bold: "roboto-bold";
$font-black: "roboto-black";
$font-quirlycues: "quirlycues";
