$primary: #00b9f5;
$primary-black: #070707;
$black: #000;
$white: #fff;
$error-color: #D71818;
$fav-color: #F44336;
$font-color: #272727;
$font-color-light: rgba(#272727, 0.5);
$green-color: #00A651;
$orange-color: #F36519;
$yellow-color: #fed134;
$blue-color: #1a6fb7;
$body-color: #f9fafc;
$pink-color: #ff003e;
