section#home {
    h2 {
        font-size: 25px;
        font-family: $font-medium;
        color: #fff;
        &.black {
            color: #333;
        }
        span {
            color: $primary;
        }
    }
    .top-banner {
        height: 420px;
        background: url('./../../assets/images/home-banner.png');
        background-position: center -50px;
        h1 {
            padding-top: 125px;
            color: #fff;
            text-align: center;
            font-family: $font-light;
            font-size: 37px;
        }
        p {
            text-align: center;
            color: #fff;
            font-family: $font-light;
            font-size: 25px;
            margin-top: 8px;
        }
        .search-bar {
            margin-top: 40px;
            .search-bar-wrapper {
                width: 55%;
                margin: 0 auto;
                position: relative;
                .angucomplete-holder {
                    input {
                        width: 100%;
                        height: 50px;
                        border: 0;
                        box-shadow: 0 0 4px #989898;
                        border-radius: 4px;
                        padding: 0px 17px;
                        font-family: $font-light;
                        color: #000;
                        line-height: 50px;
                        font-size: 18px;
                    }
                }
                .angucomplete-dropdown {
                    background: rgba(255, 255, 255, 0.9);
                    box-shadow: 0px 0px 2px #c5c5c5;
                    margin-top: -2px;
                    overflow: auto;
                    max-height: 150px;
                    .angucomplete-searching {
                        padding: 1px 17px;
                        line-height: 35px;
                        font-family: roboto-medium;
                        font-size: 15px;
                        color: #5a5a5a;
                    }
                    .angucomplete-row {
                        padding: 1px 17px;
                        line-height: 35px;
                        font-family: roboto-medium;
                        font-size: 15px;
                        cursor: pointer;
                        color: #2b2b2b;
                        @include transition(0.4s all);
                        &.angucomplete-selected-row {
                            background: rgba(0, 185, 245, 0.26);
                        }
                        .row-section {
                            ul {
                                li {
                                    float: left;
                                    width: 60%;
                                    &:last-child {
                                        color: #737373;
                                        width: 40%;
                                        text-align:right;
                                        text-transform:capitalize;
                                    }
                                }
                            }
                        }
                    }
                }
                button {
                    position: absolute;
                    background: $primary;
                    top: 0;
                    right: 0;
                    height: 50px;
                    width: 180px;
                    border: 0;
                    border-radius: 0 4px 4px 0px;
                    font-size: 15px;
                    font-family: $font-medium;
                    color: #fff;
                    letter-spacing: 1px;
                }
            }
        }
    }
    .category-wrapper {
        padding: 0 50px;
        .clearfix {
            li {
                width: calc(100%/8);
                float: left;
                padding: 35px 0;
                display: inline-block;
                text-align: center;
                a {
                    display: block;
                }
                .icon-img {
                    height: 55px;
                    overflow: hidden;
                    .djImg {
                        width: 42px;
                        margin-top: 6px;
                    }
                }
                .category-name {
                    font-family: $font-regular;
                    font-size: 13px;
                    color: #797979;
                }
            }
        }
    }
    .featured-wrapper {
        background: url('./../../assets/images/featured-banner.png');
        padding: 50px 75px;
        .featured-content-wrap {
            margin-top: 50px;
            .artist-list-ul {
                margin-left: -50px;
                margin-right: -50px;
                li {
                    width: 25%;
                    float: left;
                    text-align: center;
                    .artist-info {
                        display: inline-block;
                        .artist-image {
                            height: 200px;
                            overflow: hidden;
                            img {
                                width: 200px;
                                border-radius: 5px;
                            }
                        }
                        .artist-name {
                            font-size: 15px;
                            font-family: $font-regular;
                            color: #fff;
                            text-align: center;
                        }
                        .artist-profile {
                            font-size: 12px;
                            font-family: $font-regular;
                            color: $primary;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .how-it-works-section {
        padding: 50px 75px;
        .how-it-works-container {
            margin-top: 40px;
            ul {
                li {
                    width: 26%;
                    float: left;
                    &:nth-child(2) {
                        margin-left: 11%;
                        margin-right: 11%;
                    }
                    .img-tag {
                        height: 50px;
                        overflow: hidden;
                        img {
                            width: 45px;
                            &.connect-img {
                                width: 50px;
                            }
                        }
                    }
                    .title {
                        margin-top: 20px;
                        margin-bottom: 12px;
                        font-size: 18px;
                        position: relative;
                        color: #333;
                        font-family: $font-bold;
                        padding-left: 40px;
                        span {
                            position: absolute;
                            color: $primary;
                            font-family: $font-light;
                            font-size: 33px;
                            bottom: -6px;
                            left: 0;
                            letter-spacing: -1px;
                        }
                    }
                    p {
                        font-size: 15px;
                        font-family: $font-regular;
                        color: #333;
                    }
                }
            }
        }
    }
    .manage-our-events {
        .left-wrapper {
            width: 55%;
            display: inline-block;
            float: left;
            height: 370px;
            background: url('./../../assets/images/home-img1.png');
        }
        .right-wrapper {
            width: 45%;
            display: inline-block;
            height: 370px;
            float: left;
            background: #f0f0f0;
            .content-wrap {
                padding: 50px;
                p {
                    font-size: 16px;
                    font-family: roboto-regular;
                    color: #333;
                    margin-top: 30px;
                }
                .button-section {
                    margin-top: 30px;
                    button {
                        width: 180px;
                        background: $primary;
                        color: #fff;
                        font-family: $font-semibold;
                        font-size: 14px;
                        border: 0;
                        border-radius: 4px;
                        height: 45px;
                        box-shadow: 0 0 4px #ddd;
                    }
                }
            }
        }
    }
    .browse-artists {
        .left-wrapper {
            width: 55%;
            display: inline-block;
            height: 370px;
            float: left;
            background: #fff;
            .content-wrap {
                padding: 50px;
                p {
                    font-size: 16px;
                    font-family: roboto-regular;
                    color: #333;
                    margin-top: 30px;
                }
                .button-section {
                    margin-top: 30px;
                    button {
                        width: 180px;
                        background: $primary;
                        color: #fff;
                        font-family: $font-semibold;
                        font-size: 14px;
                        border: 0;
                        border-radius: 4px;
                        height: 45px;
                        box-shadow: 0 0 4px #ddd;
                    }
                }
            }
        }
        .right-wrapper {
            width: 45%;
            display: inline-block;
            float: left;
            height: 370px;
            background: url('./../../assets/images/home-img2.png');
        }
    }
    .bottom-section {
        padding: 50px;
        background: #f0f0f0;
        p {
            font-size: 14px;
            font-family: roboto-regular;
            color: #333;
            margin-top: 30px;
            line-height: 22px;
        }
    }
}