// -----------------
//  Filter Colors
// -----------------

.filter-silver--grey {
    background: #808080;
}

.filter-black {
    background: #000;
}

.filter-beige {
    background: #f5f5dc;
}

.filter-blue {
    background: blue;
}

.filter-brown {
    background: brown;
}

.filter-gold {
    background: #CC9900;
}

.filter-green {
    background: green;
}

.filter-orange {
    background: orange;
}

.filter-purple--pink {
    background: #800080;
}

.filter-red {
    background: red;
}

.filter-white {
    background: #fff;
}

.filter-yellow {
    background: yellow;
}

