// -----------------
// Font Family
// -----------------
$font-semibold: "montserrat-semibold";
$font-ultraLight: "montserrat-ultraLight";
$font-extraBold: "montserrat-extraBold";
$font-regular: "montserrat-regular";
$font-light: "montserrat-light";
$font-bold: "montserrat-bold";
$font-hairline: "montserrat-hairline";
$font-black: "montserrat-black";
$font-vr-regular: "varelaRound-regular";

// -----------------
// Roboto Font Family
// -----------------
$roboto-thin : "roboto-thin";
$roboto-light: "roboto-light";
$roboto-regular: "roboto-regular";
$roboto-semibold: "roboto-semibold";
$roboto-medium: "roboto-semibold";
$roboto-bold: "roboto-bold";
$roboto-black: "roboto-black";
