@font-face {
  font-family: 'icomoon';
  src:  url('../icons/fonts/icomoon.eot');
  src:  url('../icons/fonts/icomoon.eot') format('embedded-opentype'),
    url('../icons/fonts/icomoon.ttf') format('truetype'),
    url('../icons/fonts/icomoon.woff') format('woff'),
    url('../icons/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-artist:before {
  content: "\e914";
}
.icon-contact-us:before {
  content: "\e915";
}
.icon-contact:before {
  content: "\e916";
}
.icon-requirement:before {
  content: "\e917";
}
.icon-down-arrow:before {
  content: "\e900";
}
.icon-top-arrow:before {
  content: "\e901";
}
.icon-left-arrow:before {
  content: "\e902";
}
.icon-right-arrow:before {
  content: "\e906";
}
.icon-down-arrow-1:before {
  content: "\e90a";
}
.icon-top-arrow-1:before {
  content: "\e90b";
}
.icon-left-arrow-1:before {
  content: "\e90c";
}
.icon-right-arrow-1:before {
  content: "\e90d";
}
.icon-user-with-border:before {
  content: "\e90e";
}
.icon-user-with-solid:before {
  content: "\e913";
}
.icon-home:before {
  content: "\e903";
}
.icon-home2:before {
  content: "\e904";
}
.icon-home3:before {
  content: "\e905";
}
.icon-newspaper:before {
  content: "\e907";
}
.icon-pencil:before {
  content: "\e908";
}
.icon-pencil2:before {
  content: "\e909";
}
.icon-paint-format:before {
  content: "\e90f";
}
.icon-image:before {
  content: "\e910";
}
.icon-images:before {
  content: "\e911";
}
.icon-camera:before {
  content: "\e912";
}
.icon-file-empty:before {
  content: "\e927";
}
.icon-files-empty:before {
  content: "\e928";
}
.icon-file-text2:before {
  content: "\e929";
}
.icon-file-picture:before {
  content: "\e92a";
}
.icon-file-music:before {
  content: "\e92b";
}
.icon-file-play:before {
  content: "\e92c";
}
.icon-file-video:before {
  content: "\e92d";
}
.icon-copy:before {
  content: "\e92f";
}
.icon-paste:before {
  content: "\e930";
}
.icon-folder-upload:before {
  content: "\e937";
}
.icon-price-tag:before {
  content: "\e938";
}
.icon-price-tags:before {
  content: "\e939";
}
.icon-ticket:before {
  content: "\e93c";
}
.icon-cart:before {
  content: "\e93d";
}
.icon-phone-hang-up:before {
  content: "\e946";
}
.icon-address-book:before {
  content: "\e947";
}
.icon-envelop:before {
  content: "\e948";
}
.icon-pushpin:before {
  content: "\e949";
}
.icon-location:before {
  content: "\e94a";
}
.icon-location2:before {
  content: "\e94b";
}
.icon-compass2:before {
  content: "\e94d";
}
.icon-map2:before {
  content: "\e94f";
}
.icon-history:before {
  content: "\e950";
}
.icon-clock:before {
  content: "\e951";
}
.icon-clock2:before {
  content: "\e952";
}
.icon-alarm:before {
  content: "\e953";
}
.icon-bell:before {
  content: "\e954";
}
.icon-stopwatch:before {
  content: "\e955";
}
.icon-calendar:before {
  content: "\e956";
}
.icon-download:before {
  content: "\e963";
}
.icon-upload:before {
  content: "\e964";
}
.icon-floppy-disk:before {
  content: "\e965";
}
.icon-database:before {
  content: "\e967";
}
.icon-redo:before {
  content: "\e969";
}
.icon-undo2:before {
  content: "\e96a";
}
.icon-redo2:before {
  content: "\e96b";
}
.icon-forward:before {
  content: "\e96c";
}
.icon-reply:before {
  content: "\e96d";
}
.icon-bubble:before {
  content: "\e96e";
}
.icon-bubbles:before {
  content: "\e96f";
}
.icon-bubbles2:before {
  content: "\e970";
}
.icon-bubble2:before {
  content: "\e971";
}
.icon-bubbles4:before {
  content: "\e973";
}
.icon-users:before {
  content: "\e975";
}
.icon-user-plus:before {
  content: "\e976";
}
.icon-user-minus:before {
  content: "\e977";
}
.icon-user-check:before {
  content: "\e978";
}
.icon-user-tie:before {
  content: "\e979";
}
.icon-quotes-left:before {
  content: "\e97a";
}
.icon-quotes-right:before {
  content: "\e97b";
}
.icon-hour-glass:before {
  content: "\e97c";
}
.icon-spinner:before {
  content: "\e97d";
}
.icon-spinner3:before {
  content: "\e97f";
}
.icon-spinner5:before {
  content: "\e981";
}
.icon-spinner6:before {
  content: "\e982";
}
.icon-spinner7:before {
  content: "\e983";
}
.icon-spinner8:before {
  content: "\e984";
}
.icon-spinner9:before {
  content: "\e985";
}
.icon-spinner10:before {
  content: "\e986";
}
.icon-spinner11:before {
  content: "\e987";
}
.icon-binoculars:before {
  content: "\e988";
}
.icon-search:before {
  content: "\e989";
}
.icon-zoom-in:before {
  content: "\e98a";
}
.icon-zoom-out:before {
  content: "\e98b";
}
.icon-enlarge:before {
  content: "\e98c";
}
.icon-shrink:before {
  content: "\e98d";
}
.icon-enlarge2:before {
  content: "\e98e";
}
.icon-shrink2:before {
  content: "\e98f";
}
.icon-key:before {
  content: "\e990";
}
.icon-key2:before {
  content: "\e991";
}
.icon-lock:before {
  content: "\e992";
}
.icon-unlocked:before {
  content: "\e993";
}
.icon-wrench:before {
  content: "\e994";
}
.icon-equalizer:before {
  content: "\e995";
}
.icon-equalizer2:before {
  content: "\e996";
}
.icon-cog:before {
  content: "\e997";
}
.icon-cogs:before {
  content: "\e998";
}
.icon-pie-chart:before {
  content: "\e99d";
}
.icon-stats-dots:before {
  content: "\e99e";
}
.icon-stats-bars:before {
  content: "\e99f";
}
.icon-stats-bars2:before {
  content: "\e9a0";
}
.icon-trophy:before {
  content: "\e9a1";
}
.icon-bin:before {
  content: "\e9af";
}
.icon-bin2:before {
  content: "\e9b0";
}
.icon-sphere:before {
  content: "\e9cc";
}
.icon-link:before {
  content: "\e9ce";
}
.icon-attachment:before {
  content: "\e9d0";
}
.icon-eye:before {
  content: "\e9d1";
}
.icon-eye-plus:before {
  content: "\e9d2";
}
.icon-eye-minus:before {
  content: "\e9d3";
}
.icon-eye-blocked:before {
  content: "\e9d4";
}
.icon-bookmark:before {
  content: "\e9d5";
}
.icon-bookmarks:before {
  content: "\e9d6";
}
.icon-sun:before {
  content: "\e9d7";
}
.icon-contrast:before {
  content: "\e9d8";
}
.icon-brightness-contrast:before {
  content: "\e9d9";
}
.icon-star-empty:before {
  content: "\e9da";
}
.icon-star-half:before {
  content: "\e9db";
}
.icon-star-full:before {
  content: "\e9dc";
}
.icon-heart:before {
  content: "\e9dd";
}
.icon-warning:before {
  content: "\ea0a";
}
.icon-notification:before {
  content: "\ea0b";
}
.icon-question:before {
  content: "\ea0c";
}
.icon-plus:before {
  content: "\ea0d";
}
.icon-minus:before {
  content: "\ea0e";
}
.icon-info:before {
  content: "\ea0f";
}
.icon-cancel-circle:before {
  content: "\ea10";
}
.icon-blocked:before {
  content: "\ea11";
}
.icon-cross:before {
  content: "\ea12";
}
.icon-checkmark:before {
  content: "\ea13";
}
.icon-checkmark2:before {
  content: "\ea14";
}
.icon-enter:before {
  content: "\ea16";
}
.icon-exit:before {
  content: "\ea17";
}
.icon-play2:before {
  content: "\ea18";
}
.icon-pause:before {
  content: "\ea19";
}
.icon-stop:before {
  content: "\ea1a";
}
.icon-previous:before {
  content: "\ea1b";
}
.icon-next:before {
  content: "\ea1c";
}
.icon-backward:before {
  content: "\ea1d";
}
.icon-forward2:before {
  content: "\ea1e";
}
.icon-play3:before {
  content: "\ea1f";
}
.icon-pause2:before {
  content: "\ea20";
}
.icon-stop2:before {
  content: "\ea21";
}
.icon-backward2:before {
  content: "\ea22";
}
.icon-forward3:before {
  content: "\ea23";
}
.icon-first:before {
  content: "\ea24";
}
.icon-last:before {
  content: "\ea25";
}
.icon-previous2:before {
  content: "\ea26";
}
.icon-next2:before {
  content: "\ea27";
}
.icon-eject:before {
  content: "\ea28";
}
.icon-volume-high:before {
  content: "\ea29";
}
.icon-volume-medium:before {
  content: "\ea2a";
}
.icon-volume-low:before {
  content: "\ea2b";
}
.icon-volume-mute:before {
  content: "\ea2c";
}
.icon-volume-mute2:before {
  content: "\ea2d";
}
.icon-volume-increase:before {
  content: "\ea2e";
}
.icon-volume-decrease:before {
  content: "\ea2f";
}
.icon-loop:before {
  content: "\ea30";
}
.icon-loop2:before {
  content: "\ea31";
}
.icon-infinite:before {
  content: "\ea32";
}
.icon-shuffle:before {
  content: "\ea33";
}
.icon-arrow-up-left:before {
  content: "\ea34";
}
.icon-arrow-up:before {
  content: "\ea35";
}
.icon-arrow-up-right:before {
  content: "\ea36";
}
.icon-arrow-right:before {
  content: "\ea37";
}
.icon-arrow-down-right:before {
  content: "\ea38";
}
.icon-arrow-down:before {
  content: "\ea39";
}
.icon-arrow-down-left:before {
  content: "\ea3a";
}
.icon-arrow-left:before {
  content: "\ea3b";
}
.icon-arrow-up-left2:before {
  content: "\ea3c";
}
.icon-arrow-up2:before {
  content: "\ea3d";
}
.icon-arrow-up-right2:before {
  content: "\ea3e";
}
.icon-arrow-right2:before {
  content: "\ea3f";
}
.icon-arrow-down-right2:before {
  content: "\ea40";
}
.icon-arrow-down2:before {
  content: "\ea41";
}
.icon-arrow-down-left2:before {
  content: "\ea42";
}
.icon-arrow-left2:before {
  content: "\ea43";
}
.icon-circle-up:before {
  content: "\ea44";
}
.icon-circle-right:before {
  content: "\ea45";
}
.icon-circle-down:before {
  content: "\ea46";
}
.icon-circle-left:before {
  content: "\ea47";
}
.icon-tab:before {
  content: "\ea48";
}
.icon-move-up:before {
  content: "\ea49";
}
.icon-move-down:before {
  content: "\ea4a";
}
.icon-sort-alpha-asc:before {
  content: "\ea4b";
}
.icon-sort-alpha-desc:before {
  content: "\ea4c";
}
.icon-sort-numeric-asc:before {
  content: "\ea4d";
}
.icon-sort-numberic-desc:before {
  content: "\ea4e";
}
.icon-sort-amount-asc:before {
  content: "\ea4f";
}
.icon-sort-amount-desc:before {
  content: "\ea50";
}
.icon-command:before {
  content: "\ea51";
}
.icon-checkbox-checked:before {
  content: "\ea55";
}
.icon-checkbox-unchecked:before {
  content: "\ea56";
}
.icon-radio-checked:before {
  content: "\ea57";
}
.icon-radio-checked2:before {
  content: "\ea58";
}
.icon-radio-unchecked:before {
  content: "\ea59";
}
.icon-share2:before {
  content: "\ea85";
}
.icon-google:before {
  content: "\ea8b";
}
.icon-google2:before {
  content: "\ea8c";
}
.icon-google3:before {
  content: "\ea8d";
}
.icon-google-plus:before {
  content: "\ea8e";
}
.icon-google-plus2:before {
  content: "\ea8f";
}
.icon-google-plus3:before {
  content: "\ea90";
}
.icon-facebook:before {
  content: "\ea93";
}
.icon-facebook2:before {
  content: "\ea94";
}
.icon-instagram:before {
  content: "\ea95";
}
.icon-whatsapp:before {
  content: "\ea96";
}
.icon-twitter:before {
  content: "\ea99";
}
.icon-linkedin:before {
  content: "\eacc";
}
.icon-linkedin2:before {
  content: "\eacd";
}
.icon-pinterest:before {
  content: "\ead4";
}
.icon-pinterest2:before {
  content: "\ead5";
}

