section#requirement {
    height: 480px;
    background: url(./../../assets/images/requirement-banner.png);
    padding-top: 110px;
    .form-section {
        width: 550px;
        background: white;
        box-shadow: 0px 0px 4px #ddd;
        margin: 0 auto;
        padding: 30px;
        font-size: 16px;
        font-family: $font-regular;
        div {
            margin-bottom: 20px;
        }
        input,
        select {
            font-size: 14px;
            font-family: $font-regular;
            border-radius: 4px;
            height: 40px;
            border: 1px solid #c7c7c7;
            padding-left: 10px;
            background: #fff;
            &.error {
                border: 2px solid $error-color;
                box-shadow: 0 0 2px $error-color;
            }
            &:focus {
                border: 2px solid $primary;
            }
            &.name-text {
                width: 340px;
                margin-left: 4px;
            }
            &.category-text {
                width: 170px;
                margin-left: 5px;
                margin-right: 5px;
            }
            &.location-text {
                margin-left: 5px;
                margin-right: 5px;
                width: 170px;
            }
            &.event-text {
                margin-right: 2px;
                width: 120px;
            }
            &.date-text {
                margin-left: 2px;
                margin-right: 2px;
                width: 127px;
                &::-webkit-outer-spin-button,
                /* Removes arrows */
                &::-webkit-inner-spin-button,
                /* Removes arrows */
                &::-webkit-clear-button {
                    /* Removes blue cross */
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
            &.number-text {
                margin-left: 2px;
                margin-right: 2px;
                width: 48px;
                padding: 0px 7px;
                &::-webkit-outer-spin-button,
                /* Removes arrows */
                &::-webkit-inner-spin-button,
                /* Removes arrows */
                &::-webkit-clear-button {
                    /* Removes blue cross */
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
            &.mobile-text {
                width: 135px;
            }
            &.email-text {
                margin-left: 2px;
                margin-right: 2px;
                width: 200px;
            }
        }
        .submit-btn {
            text-align: center;
            margin-bottom: 0;
            .success-msg {
                color: $green-color;
                font-size: 16px;
                font-family: $font-medium;
                margin-bottom: 10px;
            }
            button {
                width: 100%;
                background: $primary;
                color: #fff;
                font-family: $font-medium;
                font-size: 14px;
                border: 0;
                border-radius: 4px;
                height: 40px
            }
        }
    }
}