#login-page {
    background: #f9fafc;
    height: 100vh;
    width: 100vw;
    padding-top: 160px;
    .login-section {
        width: 400px;
        border: 1px solid #eaeaea;
        margin: 0 auto;
        background: #fff;
        box-shadow: 0px 2px 4px #b9b9b9;
        padding: 40px 50px;
        .logo-section {
            width: 200px;
            margin: 0 auto;
            margin-bottom: 20px;
            margin-top: 10px;
            .text {
                text-align: center;
                font-size: 20px;
                font-family: montserrat-semibold;
                color: #1a6fb7;
            }
        }
        .input-field {
            margin-bottom: 20px;
        }
        .submit-btn {
            text-align: center;
            margin-bottom: 10px;
            button {
                width: 70%;
                border-radius: 3px;
                background: $blue-color;
                color: #fff;
                border: 0;
                font-size: 16px;
                font-family: $font-bold;
                height: 40px;
                box-shadow: 0px 2px 2px #ccc;
            }
            .msg {
                font-size: 14px;
                text-align: center;
                font-family: $font-bold;
                color: $error-color;
                margin-top: 5px;
            }
        }
    }
}
